In [1]:
from sdv.demo import load_tabular_demo
from sdv.lite import TabularPreset
metadata_obj, real_data = load_tabular_demo('student_placements', metadata=True)
model = TabularPreset(metadata=metadata_obj, name='FAST_ML')
model.fit(real_data)
synthetic_data = model.sample(num_rows=real_data.shape[0])

/Users/shubov/PycharmProjects/gans/venv/lib/python3.9/site-packages/sdv/lite/tabular.py:116: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, column_data in data.iteritems():

In [2]:
real_data.head()

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.0,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.5,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.0,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.0,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.8,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0

In [3]:
synthetic_data.head()

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,0,F,60.679135,78.082359,Commerce,61.475876,Comm&Mgmt,False,0,60.463874,Mkt&Fin,66.368724,25927.0,False,NaT,2020-01-27,3.0
1,1,F,66.957249,68.154874,Commerce,77.654136,Comm&Mgmt,False,1,75.159890,Mkt&Fin,65.425379,25389.0,False,NaT,2020-06-08,6.0
2,2,F,64.493836,65.599060,Commerce,61.805710,Comm&Mgmt,True,0,71.015299,Mkt&HR,64.033295,NaN,False,NaT,NaT,6.0
3,3,F,77.294697,73.705387,Commerce,67.745672,Comm&Mgmt,True,1,84.984576,Mkt&HR,65.190394,NaN,True,NaT,2020-06-07,3.0
4,4,M,65.645752,68.484205,Commerce,56.294576,Comm&Mgmt,False,0,82.951507,Mkt&Fin,60.231348,22905.0,False,NaT,NaT,NaN

In [4]:
metadata_dict = metadata_obj.to_dict()

In [12]:
from sdmetrics.reports.single_table import QualityReport
report = QualityReport()
report.generate(real_data, synthetic_data, metadata_dict)

Creating report: 100%|██████████| 4/4 [00:00<00:00, 21.58it/s]

Overall Quality Score: 86.36%

Properties:
Column Shapes: 89.22%
Column Pair Trends: 83.49%

In [13]:
report.get_score()

0.8635582027180788

In [7]:
report.get_details(property_name='Column Shapes')

                Column        Metric  Quality Score
0          second_perc  KSComplement       0.944186
1            high_perc  KSComplement       0.888372
2          degree_perc  KSComplement       0.897674
3     experience_years  KSComplement       0.925581
4   employability_perc  KSComplement       0.874419
5             mba_perc  KSComplement       0.911628
6               salary  KSComplement       0.705673
7           start_date  KSComplement       0.704673
8             end_date  KSComplement       0.702320
9               gender  TVComplement       0.944186
10           high_spec  TVComplement       0.953488
11         degree_type  TVComplement       0.953488
12     work_experience  TVComplement       0.967442
13            mba_spec  TVComplement       0.986047
14              placed  TVComplement       0.939535
15            duration  TVComplement       0.976792

In [9]:
from sdmetrics.single_table import NewRowSynthesis
NewRowSynthesis.compute(real_data, synthetic_data)

1.0

In [8]:
metadata_dict

{'fields': {'start_date': {'type': 'datetime', 'format': '%Y-%m-%d'},
  'end_date': {'type': 'datetime', 'format': '%Y-%m-%d'},
  'salary': {'type': 'numerical', 'subtype': 'integer'},
  'duration': {'type': 'categorical'},
  'student_id': {'type': 'id', 'subtype': 'integer'},
  'high_perc': {'type': 'numerical', 'subtype': 'float'},
  'high_spec': {'type': 'categorical'},
  'mba_spec': {'type': 'categorical'},
  'second_perc': {'type': 'numerical', 'subtype': 'float'},
  'gender': {'type': 'categorical'},
  'degree_perc': {'type': 'numerical', 'subtype': 'float'},
  'placed': {'type': 'boolean'},
  'experience_years': {'type': 'numerical', 'subtype': 'integer'},
  'employability_perc': {'type': 'numerical', 'subtype': 'float'},
  'mba_perc': {'type': 'numerical', 'subtype': 'float'},
  'work_experience': {'type': 'boolean'},
  'degree_type': {'type': 'categorical'}},
 'constraints': [],
 'model_kwargs': {},
 'name': None,
 'primary_key': 'student_id',
 'sequence_index': None,
 'entity_columns': [],
 'context_columns': []}